"groups":
- "interval": "1m"
  "name": "kubernetes-events.rules"
  "rules":
  - "expr": |
      sum (count_over_time({job="loki.source.kubernetes_events"} | json [1m])) by (cluster, k8s_namespace_name, k8s_resource_kind, type)
    "record": "namespace_kind_type:kubernetes_events:count1m"
